// Miscelaneous
// ----------------------------------------------------------------------
.invisible {
  visibility: hidden;
}

// Width
// ----------------------------------------------------------------------
.w-100vw {
  width: 100vw;
}

.w-50vw {
  width: 50vw;
}

// Height
// ----------------------------------------------------------------------
.h-100vh {
  height: 100vh;
}

// Flexbox
// ----------------------------------------------------------------------
.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-start {
  justify-content: start;
}

.justify-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-align-center {
  display: flex;
  align-items: center;
}

// Fonts
// ----------------------------------------------------------------------
// rem
.load-font {
  font-family: Franklin-Gothic;
}

// font weight

// Line height
// ----------------------------------------------------------------------

// Line break
// ----------------------------------------------------------------------

// Misc
// ----------------------------------------------------------------------
.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.text-truncate-two-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* This specifies the number of lines to display before truncating */
  -webkit-box-orient: vertical;
}

.text-truncate-three-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* This specifies the number of lines to display before truncating */
  -webkit-box-orient: vertical;
}

.text-truncate-four-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* This specifies the number of lines to display before truncating */
  -webkit-box-orient: vertical;
}

.text-truncate-five-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* This specifies the number of lines to display before truncating */
  -webkit-box-orient: vertical;
}

// Cursor
// ----------------------------------------------------------------------
.cursor-pointer,
.clickable {
  cursor: pointer;
}

// Margin
// ----------------------------------------------------------------------
.m-0 {
  margin: 0;
}

.mr-5 {
  margin-right: calc(var(--base-margin) * 1.25);
}

.mb-3 {
  margin-bottom: 0.75rem;
}

// Padding
// ----------------------------------------------------------------------
.p-2 {
  padding: calc(var(--base-margin) * 0.75);
}

.py-2 {
  padding-top: calc(var(--base-margin) * 0.75);
  padding-bottom: calc(var(--base-margin) * 0.75);
}

.p-3 {
  padding: calc(var(--base-margin) * 1);
}

.py-3 {
  padding-top: calc(var(--base-margin) * 1);
  padding-bottom: calc(var(--base-margin) * 1);
}

.px-3 {
  padding-left: calc(var(--base-margin) * 1);
  padding-right: calc(var(--base-margin) * 1);
}

.pb-3 {
  padding-bottom: calc(var(--base-margin) * 1);
}

.p-5 {
  padding: calc(var(--base-margin) * 1.25);
}

// Border
// ----------------------------------------------------------------------
.border-bottom {
  border-bottom: 1px solid var(--border-color);
}

// Border Radius

// Opacity
// ----------------------------------------------------------------------

// Text
// ----------------------------------------------------------------------

// Position
// ----------------------------------------------------------------------
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

// Breakpoints
// ----------------------------------------------------------------------
.isDesktop {
  display: block;
}

.isMobile {
  display: none;
}

@media (max-width: 480px) {
  .isDesktop {
    display: none;
  }

  .isMobile {
    display: block;
  }
}
