:root {
  //Padding and margin
  --base-spacing: 0.75rem;
  --base-font: 100%;

  // Border
  --border-color: var(--gray-700);

  --base-duration: 600ms;
  --base-ease: cubic-bezier(0.25, 0.46, 0.45, 0.84);
}
