html.dark-theme-app {
  --white: #fff;
  --gray-200: #f8f9fa;
  --gray-300: #dee2e6;
  --gray-400-lightest: #d8dde2; // gray-400 - 21%
  --gray-400-lighter: #d5dadf; // gray-400 - 14%
  --gray-400-light: #d1d7dd; // gray-400 - 7%
  --gray-400: #ced4da;
  --gray-400-dark: #bdc5cd; // gray-400 + 7%
  --gray-400-darker: #acb6c0; // gray-400 + 14%
  --gray-400-darkest: #9ba7b4; // gray-400 + 21%
  --gray-500-lighter: '#b8bfc6'; // gray-500 - 14%
  --gray-500-light: '#b3bac2'; // gray-500 - 7%
  --gray-500-dark: #9fa8b2; // gray-500 + 7%
  --gray-500-darker: #919ca6; // gray-500 + 14%
  --gray-500: #adb5bd;
  --gray-600-lighter: #7f8891; // gray-600 - 14%
  --gray-600-light: #757f87; // gray-600 - 7%
  --gray-600: #6c757d;
  --gray-600-dark: #646d74; // gray-600 + 7%
  --gray-700-darker: #3f454b; // gray-700 + 14%
  --gray-700-dark: #444a51; // gray-700 + 7%
  --gray-700: #495057;
  --gray-700-light: #545c64; // gray-700 - 7%
  --gray-700-lighter: #5f6872; // gray-700 - 14%
  --gray-800: #343a40;
  --gray-800-light: #40484f; // gray-800 - 7%
  --gray-800-lighter: #4d565e; // gray-800 - 14%
  --gray-900-darker: #1c2023; // gray-900 + 14%
  --gray-900-dark: #1f2226; // gray-900 + 7%
  --gray-900: #212529;
  --gray-900-light: #2f343a; // gray-900 - 7%
  --gray-900-lighter: #3c434b; // gray-900 - 14%
  --black: #000;
  --black-light: #121212; // black - 7%
  --black-lighter: #242424; // black - 14%
}
